* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  color: #2B303A;
}

p, ul, li, small {
  color: #68748d;
  line-height: 1.4rem;
}

ul {
  list-style: circle;
}